<section class="components">
    <div class="components-container">
        <h1 class="components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="components-title-accent-word">TASTE</span> SENSATION</h1>
        <p class="components-description">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        <ul class="components-list">
          <li class="components-list-item">
            <div class="components-item-container bg-orange">
                <div>
                    <picture class="components-img">
                        <source srcset="../img/choco-ingredients/chocolate-tablet-mobile.png 1x, ../img/choco-ingredients/chocolate-tablet-mobile@2x.png 2x" media="(max-width: 1199px)">
                        <source srcset="../img/choco-ingredients/chocolate-desktop.png 1x, ../img/choco-ingredients/chocolate-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <img src="../img/choco-ingredients/chocolate-tablet-mobile.png" alt="Milk chocolate" width="224">
                    </picture> 
                </div>
                <p class="components-img-description color-white">MILK CHOCOLATE</p>
            </div >
          </li>
          <li class="components-list-item">
            <div class="components-item-container">
                <div>
                    <picture class="components-img">
                        <source srcset="../img/choco-ingredients/milk-tablet-mobile.png 1x, ../img/choco-ingredients/milk-tablet-mobile@2x.png 2x" media="(max-width: 1199px)">
                        <source srcset="../img/choco-ingredients/milk-desktop.png 1x, ../img/choco-ingredients/milk-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <img src="../img/choco-ingredients/milk-tablet-mobile.png" alt="Milk" width="224">
                    </picture>
                </div>
                <p class="components-img-description">MILK</p>
            </div >
          </li>
          <li class="components-list-item">
            <div class="components-item-container bg-black">
                <div>
                    <picture class="components-img">
                        <source srcset="../img/choco-ingredients/nuts-tablet-mobile.png 1x, ../img/choco-ingredients/nuts-tablet-mobile@2x.png 2x" media="(max-width: 1199px)">
                        <source srcset="../img/choco-ingredients/nuts-desktop.png 1x, ../img/choco-ingredients/nuts-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <img src="../img/choco-ingredients/nuts-tablet-mobile.png" alt="Nuts" width="224">
                    </picture>
                </div>
                <p class="components-img-description color-white">NUTS</p>
            </div >
          </li>
          <li class="components-list-item">
            <div class="components-item-container">
                <div>
                    <picture class="components-img">
                        <source srcset="../img/choco-ingredients/chocodrops-tablet-mobile.png 1x, ../img/choco-ingredients/chocodrops-tablet-mobile@2x.png 2x" media="(max-width: 1199px)">
                        <source srcset="../img/choco-ingredients/chocodrops-desktop.png 1x, ../img/choco-ingredients/chocodrops-desktop@2x.png 2x" media="(min-width: 1200px)">
                        <img src="../img/choco-ingredients/chocodrops-tablet-mobile.png" alt="Chocodrops" width="224">
                    </picture>
                </div>
                <p class="components-img-description">sEMI-SWEET CHOCOLATE</p>
            </div >
          </li>
        </ul>
    </div >
</section>