<header class="header">
    <div class="container">
        <nav id="header" class="header-navigation">
            <a class="header-logo" href="./index.html">
                <svg class="heder-logo-icon">
                    <use href="/img/icons.svg#icon-logo-1"></use>
                </svg>
            </a>

            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link emphasis  " href="#header">Home</a>
                </li>
                <li class="header-item">
                    <a class="header-link  " href="#made">How it’s made?</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#product">Our products</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#sellers">Top sellers</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="#chocolate">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
        <ul class="heder-social">
            <li class="heder-social-item">
                <a class="heder-social-link" href="https://www.instagram.com/">
                    <svg class="heder-social-icon" width="20px" height="20px">
                        <use href="/img/icons.svg#icon-instagram"></use>
                    </svg></a>
            </li>
            <li>
                <a class="heder-icon-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                    <svg class="heder-social-icon" width="22px" height="18px">
                        <use href="/img/icons.svg#icon-twitter"></use>
                    </svg></a>
            </li>
        </ul>
        <div>
            <button type="button" class="burger-btn-open">
                <a class="burger-btn-link" href="" target="_blank" rel="noopener noreferrer">
                    <svg class="burger-btn-icon">
                        <use href="/img/icons.svg#icon-menu-hamburger"></use>
                    </svg></a>
            </button>
        </div>
        <div>
        </div>
</header>