<header class="header">
    <div class="container">
        <nav class="header-navigation">


            <a class="header-logo" href="./index.html">
                <P class="logo-text"> <b class="logo-text-simply">SIMPLY</b> CHOCOLATE</P>
                <svg class="heder-logo-icon">
                    <use href="/img/icons.svg#icon-chocolate-logo-1"></use>
                </svg>
            </a>

            <ul class="header-list">
                <li class="header-item">
                    <a class="header-link emphasis  " href="">Home</a>
                </li>
                <li class="header-item">
                    <a class="header-link  " href=" ">How it’s made?</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="">Our products</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="">Top sellers</a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
        <ul class="heder-social">
            <li class="heder-social-item">
                <a class="heder-social-link" href="https://www.instagram.com/" target="_blank"
                    rel="noopener noreferrer">
                    <svg class="heder-social-icon" width="20px" height="20px">
                        <use href="/img/icons.svg#icon-instagram"></use>
                    </svg></a>
            </li>
            <li>
                <a class="heder-social-link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                    <svg class="heder-social-icon" width="22px" height="18px">
                        <use href="/img/icons.svg#icon-twitter"></use>
                    </svg></a>
            </li>
        </ul>

        <button type="button" class="burger-btn-open" data-menu-open>
            <svg class="burger-btn-icon">
                <use href="/img/icons.svg#icon-menu-hamburger"></use>
            </svg>
        </button>
    </div>
    <div class=" is-menu-close mobile-menu  " data-menu>
        <div class="container">
            <div>
                <button data-menu-close type="button" class="mobile-menu-cloce">
                    <svg class="mobile-menu-close-icon">
                        <use href="/img/icons.svg#icon-close-1"></use>
                    </svg>
                </button>
                <nav>
                    <ul class="header-list-close">
                        <li class="header-item-close">
                            <a class="header-link-close  " href="">Home</a>
                        </li>
                        <li class="header-item-close">
                            <a class="header-link-close  " href=" ">How it’s made?</a>
                        </li>
                        <li class="header-item-close">
                            <a class="header-link-close" href="">Our products</a>
                        </li>
                        <li class="header-item-close">
                            <a class="header-link-close" href="">Top sellers</a>
                        </li>
                        <li class="header-item-close">
                            <a class="header-link-close" href="">Chocolate is loved</a>
                        </li>
                    </ul>

                </nav>
                <ul class="header-social-close">
                    <li class="heder-social-item">
                        <a class="heder-social-link" href="https://www.instagram.com/" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="heder-social-icon-close" width="20px" height="20px">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li>
                        <a class="heder-social-link" href="https://twitter.com/" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="heder-social-icon-close" width="22px" height="18px">
                                <use href="/img/icons.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                </ul>


            </div>
        </div>
</header>
<script src="./js/menu.js"></script>