<section class="hero">
  <div class="container">
    <!-- Прихований заголовок -->
    <h1 id="hero" class="hero-hidden">HERO</h1>
    <p class="hero-title">
      Treat yourself or a loved one <br class="br" />
      to <br class="brt" />our finest ingredients for a moment of pure delight!
    </p>
    <div class="hero-btn">
      <div class="hero-btn-two">
        <button data-modal-open class="hero-btn-buynow" type="button">
          Buy now
        </button>
        <button
          onclick="window.location.href = 'https://www.figma.com/file/LWMTodUscRGMcbTpxE3kgI/Simply-Chocolate?node-id=0-1&t=eM2Fk8TMqUwwMiGD-0';"
          class="hero-btn-how"
        >
          How it’s made
        </button>
      </div>
      <div class="hero-scrol">
        <p class="hero-scrol-text">scroll down</p>

        <a class="hero-btn-scroll" href="#futer">
          <svg class="hero-btn-icon">
            <use href="../img/icons.svg#icon-hero-scroll-1"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
