<section>
  <div class="our-product-container">
    <h2 id="product" class="our-product-header">
      OUR<span class="our-product-header-orange"> PRODUCTS</span>
    </h2>
    <ul class="our-product-list swiper-wrapper list">
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-orange.jpg"
          alt="dark orange chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-orange.jpg    1x,
            ./img/products/choco-orange@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">orange</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">45 UAH</button>
      </li>
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-apple.jpg"
          alt="apple&cranberry milk chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-apple.jpg    1x,
            ./img/products/choco-apple@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">APPLE&CRANBERRY</h3>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">50 UAH</button>
      </li>
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-lime.jpg"
          alt="lime&sea salt dark chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-lime.jpg    1x,
            ./img/products/choco-lime@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">lime&sea salt</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">66 UAH</button>
      </li>
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-pineapple.jpg"
          alt="pineapple dark chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-pineapple.jpg    1x,
            ./img/products/choco-pineapple@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">pineapple</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">54 UAH</button>
      </li>
      <!-- <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-classic.jpg"
          alt="classic milk chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-classic.jpg    1x,
            ./img/products/choco-classic@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">Classic</h3>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">45 UAH</button>
      </li>
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-honey.jpg"
          alt="honey milk chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-honey.jpg    1x,
            ./img/products/choco-honey@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">honey</h3>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">50 UAH</button>
      </li>
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-fruits.jpg"
          alt="roasted fruits dark chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-fruits.jpg    1x,
            ./img/products/choco-fruits@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">Roasted fruits</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">66 UAH</button>
      </li>
      <li class="our-product-item swiper-slide">
        <img
          src="./img/products/choco-classic-white.jpg"
          alt="classic white chocolate"
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-classic-white.jpg    1x,
            ./img/products/choco-classic-white@2x.jpg 2x
          "
        />
        <h3 class="our-product-item-title">Classic</h3>
        <p class="our-product-item-description">White chocolate</p>
        <button type="submit" class="our-product-item-btn">54 UAH</button>
      </li> -->
    </ul>
    <div class="swiper-pagination">
      <button class="pagination-btn active"></button>
      <button class="pagination-btn"></button>
      <button class="pagination-btn"></button>
      <button class="pagination-btn last"></button>
    </div>
  </div>
</section>
