<section>
  <div class="our-product-container">
    <h1 class="our-product-header">
      OUR<span class="our-product-header-orange"> PRODUCTS</span>
    </h1>
    <ul class="our-product-list">
      <li class="our-product-item">
        <img
          src="./img/products/choco-orange.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-orange.jpg    1x,
            ./img/products/choco-orange@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">orange</h2>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">45 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-apple.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-apple.jpg    1x,
            ./img/products/choco-apple@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">APPLE&CRANBERRY</h2>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">50 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-lime.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-lime.jpg    1x,
            ./img/products/choco-lime@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">lime&sea salt</h2>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">66 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-pineapple.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-pineapple.jpg    1x,
            ./img/products/choco-pineapple@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">pineapple</h2>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">54 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-classic.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-classic.jpg    1x,
            ./img/products/choco-classic@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">Classic</h2>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">45 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-honey.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-honey.jpg    1x,
            ./img/products/choco-honey@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">honey</h2>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">50 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-fruits.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-fruits.jpg    1x,
            ./img/products/choco-fruits@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">Roasted fruits</h2>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">66 UAH</button>
      </li>
      <li class="our-product-item">
        <img
          src="./img/products/choco-classic-white.jpg"
          alt=""
          width="230"
          height="201"
          class="our-product-img"
          srcset="
            ./img/products/choco-classic-white.jpg    1x,
            ./img/products/choco-classic-white@2x.jpg 2x
          "
        />
        <h2 class="our-product-item-title">Classic</h2>
        <p class="our-product-item-description">White chocolate</p>
        <button type="submit" class="our-product-item-btn">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
