<section>
  <div class="our-product-container">
    <h1 class="our-product-header">
      OUR<span class="our-product-header-orange"> PRODUCTS</span>
    </h1>
    <ul class="our-product-list">
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">orange</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">45 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">APPLE&CRANBERRY</h3>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">50 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">lime&sea salt</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">66 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">pineapple</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">54 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">Classic</h3>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">45 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">honey</h3>
        <p class="our-product-item-description">Milk chocolate</p>
        <button type="submit" class="our-product-item-btn">50 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">Roasted fruits</h3>
        <p class="our-product-item-description">Dark chocolate</p>
        <button type="submit" class="our-product-item-btn">66 UAH</button>
      </li>
      <li class="our-product-item">
        <img src="" alt="" width="230" height="201" class="our-product-img" />
        <h3 class="our-product-item-title">Classic</h3>
        <p class="our-product-item-description">White chocolate</p>
        <button type="submit" class="our-product-item-btn">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
