<section class="reviews container">
  <h2 id="chocolate" class="reviews-title">
    <span class="reviews-title-accent">Chocolate</span> is loved
  </h2>

  <ul class="reviews-list swiper-wrapper list">
    <li class="reviews-item swiper-slide">
      <img
        srcset="
          /img/rewiews/rewiew-photo-4.png    1x,
          /img/rewiews/rewiew-photo-4@2x.png 2x
        "
        alt="photo of Victoria Dobrzhanska"
        class="reviews-img"
        width="80"
        height="80"
      />
      <h3 class="reviews-item-title">Victoria Dobrzhanska</h3>
      <p class="reviews-text">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </li>
    <li class="reviews-item swiper-slide">
      <img
        srcset="
          /img/rewiews/rewiew-photo-5.png    1x,
          /img/rewiews/rewiew-photo-5@2x.png 2x
        "
        alt="photo of Nazar Babenko"
        class="reviews-img"
        width="80"
        height="80"
      />
      <h3 class="reviews-item-title">Nazar Babenko</h3>
      <p class="reviews-text">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </li>
    <li class="reviews-item swiper-slide">
      <img
        srcset="
          /img/rewiews/rewiew-photo-6.png    1x,
          /img/rewiews/rewiew-photo-6@2x.png 2x
        "
        alt="photo of Olena Kampusch"
        class="reviews-img"
        width="80"
        height="80"
      />
      <h3 class="reviews-item-title">Olena Kampusch</h3>
      <p class="reviews-text">
        Chocolate is a family favourite treat. Love the delicious smooth
        chocolate and the creaminess inside. The wafer is soft but crunchy.
      </p>
    </li>
    <li class="reviews-item swiper-slide">
      <img
        srcset="
          /img/rewiews/rewiew-photo-1.png    1x,
          /img/rewiews/rewiew-photo-1@2x.png 2x
        "
        alt="photo of Natalia Sus"
        class="reviews-img"
        width="80"
        height="80"
      />
      <h3 class="reviews-item-title">Natalia Sus</h3>
      <p class="reviews-text">
        The chocolate assortment was delicious. Both dark and milk chocolate
        pieces were smooth and just right on the sweetness level.
      </p>
    </li>
    <li class="reviews-item swiper-slide">
      <img
        srcset="
          /img/rewiews/rewiew-photo-2.png    1x,
          /img/rewiews/rewiew-photo-2@2x.png 2x
        "
        alt="photo of Danilo Nottingham"
        class="reviews-img"
        width="80"
        height="80"
      />
      <h3 class="reviews-item-title">Danilo Nottingham</h3>
      <p class="reviews-text">
        This is delicious. It so rich and flavorful you don’t need to use as
        many. I love topping an apple with almond butter and these chips for a
        snack.
      </p>
    </li>
    <li class="reviews-item swiper-slide">
      <img
        srcset="
          /img/rewiews/rewiew-photo-3.png    1x,
          /img/rewiews/rewiew-photo-3@2x.png 2x
        "
        alt="photo of Irina Tydnyuk"
        class="reviews-img"
        width="80"
        height="80"
      />
      <h3 class="reviews-item-title">Irina Tydnyuk</h3>
      <p class="reviews-text">
        This is simply the best chocolate around, and I'm just thrilled to
        support a local company! Best local chocolate - world class :)
      </p>
    </li>
  </ul>

  <div class="swiper-pagination">
    <button class="pagination-btn active"></button>
    <button class="pagination-btn"></button>
    <button class="pagination-btn"></button>
    <button class="pagination-btn last"></button>
  </div>

  <button class="review-btn" type="button">Leave a review</button>
</section>
