<section class="top-sellers">
  <div class="container">
    <h2 id="sellers" class="top-sellers-title">
      <span class="top-sellers-title-orange">TOP</span> SELLERS
    </h2>
    <ul class="top-sellers-list">
      <li class="top-sellers-item">
        <div class="img-top">
          <picture>
            <source
              srcset="
                /img/top-sellers/option-1-desktop.jpg     1x,
                /img//top-sellers/option-1-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/option-1-tablet.jpg    1x,
                /img/top-sellers/option-1-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/top-sellers/option-1-mobile.jpg    1x,
                /img/top-sellers/option-1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/top-sellers/option-1-tablet.jpg"
              alt="chocolate beans"
            />
          </picture>
        </div>
        <p class="top-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>

      <li class="top-sellers-item">
        <div class="img-top">
          <picture>
            <source
              srcset="
                /img/top-sellers/option-2-desktop.jpg     1x,
                /img//top-sellers/option-2-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/option-2-tablet.jpg    1x,
                /img/top-sellers/option-2-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/top-sellers/option-2-mobile.jpg    1x,
                /img/top-sellers/option-2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/top-sellers/option-2-tablet.jpg"
              alt="chocolate beans"
            />
          </picture>
        </div>
        <button type="button" class="top-sellers-btn" data-modal-open>
          Buy Now
        </button>
      </li>
      <li class="top-sellers-item hidden">
        <div class="img-top">
          <picture>
            <source
              srcset="
                /img/top-sellers/option-3-desktop.jpg     1x,
                /img//top-sellers/option-3-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/top-sellers/option-3-desktop.jpg     1x,
                /img//top-sellers/option-3-desktop@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="/img/top-sellers/option-2-tablet.jpg"
              alt="chocolate beans"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
