.footer {
    height: 440px;
    background-color: var(--secondary-background-color);
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    padding-left: 15px;
    padding-right: 15px;
}